/* ./src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans h-screen text-lg lg:text-xl;
  }

  h1 {
    @apply text-4xl md:text-5xl mb-7 md:mb-8;
  }

  h2 {
    @apply text-3xl md:text-4xl mb-6 md:mb-7;
  }

  h3 {
    @apply text-2xl md:text-3xl mb-4 md:mb-6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-medium leading-tight;
  }
}

@layer components {
  .btn {
    @apply px-5 py-3 font-medium outline-none rounded-full transition-all duration-200 inline-flex
      disabled:cursor-not-allowed disabled:opacity-40 shadow hover:shadow-lg justify-center items-center
      text-center text-lg;
  }
  .btn-primary {
    @apply text-white bg-primary-600 hover:bg-primary-400 hover:text-black
      focus:bg-primary-400 focus:text-black focus-within:bg-primary-400 focus-within:text-black;
  }

  .btn-outline {
    @apply text-primary-600 bg-white hover:bg-primary-600 hover:text-white ring-2
    focus:bg-primary-600 focus:text-white focus-within:bg-primary-600 focus-within:text-white
    ring-primary-600;
  }
}
